<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>MAY CHU</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="@Html.IsSelected(controller: "Dashboard") treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Dashboard", action: "Dashboardv2")"><a href="@lte.MVC.Pages.Dashbaordv2.Url"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Form") treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Forms</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Form", action: "DATBAN")"><a href="@lte.MVC.Pages.FormGeneral.Url"><i class="fa fa-circle-o"></i> Đặt Bàn</a></li>
                    <li class="@Html.IsSelected(controller: "Form", action: "Advanced")"><a href="@lte.MVC.Pages.FormAdvanced.Url"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li class="@Html.IsSelected(controller: "Form", action: "Editor")"><a href="@lte.MVC.Pages.FormEditor.Url"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Table") treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Tables</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Table", action: "Simple")"><a href="@lte.MVC.Pages.TableSimple.Url"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                    <li class="@Html.IsSelected(controller: "Table", action: "Data")"><a href="@lte.MVC.Pages.TableData.Url"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            <li class="@Html.IsSelected(controller: "Example") treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: "Example", action: "Invoice")"><a href="@lte.MVC.Pages.ExampleInvoice.Url"><i class="fa fa-circle-o"></i> Invoice</a></li>
                </ul>
                </li>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>